<div class="add-airline-container mt-5">
    <h3>Add Airline</h3>

    <form class="row" #loginForm="ngForm" (ngSubmit)="addAirlineormSubmit(loginForm.value, loginForm)">
       
        <div class="ml-2 form-outline mb-4">
            <input id="airlineName" type="text" name="airlineName" placeholder="Airline Name" ngModel>
        </div>

        <div class="ml-2 form-outline mb-4">
            <input id="contactNumber" type="text" name="contactNumber" placeholder="Contact Number" ngModel>
        </div>
       
        <div class="ml-2 form-outline mb-4">
            <input id="contactAddress" type="text" name="contactAddress" placeholder="Contact Address" ngModel>
        </div>
        
    
        <input class="btn btn-primary btn-block mb-4" type="submit" value="Add">
        
    </form>
</div>

